<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get in Touch</h2>
                <hr class="primary">
                <p>If you're interested in collaborating or have any inquiries, feel free to reach out!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="mailto:laugramil@gmail.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>laugramil@gmail.com</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://www.linkedin.com/in/ren-miller/">
                    <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>LinkedIn</p>
                </a>
            </div>
        </div>
    </div>
</section>