<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi, I'm Ren</h1>
            <hr>
            <div>
                <p class="dark-brown-text">Transforming complex concepts into compelling narratives with innovative AI-driven strategies.</p>
            </div>
        </div>
    </div>
</header>

<style>
    .header-content {
        position: relative;
    }

    .header-content-inner {
        position: relative;
        top: -50px; /* Adjust this value to move further up or down */
    }
</style>

<!-- Include the SVG filter definition -->
<svg width="0" height="0">
  <defs>
    <filter id="outline-effect">
      <feFlood flood-color="rgba(250, 245, 237, 0.7)" result="color" />
      <feComposite in="color" in2="SourceAlpha" operator="in" result="coloredAlpha" />
      <feGaussianBlur in="coloredAlpha" stdDeviation="3" result="blurred" />
      <feMerge>
        <feMergeNode in="blurred" />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>
</svg>