<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ren Miller's Portfolio</title>
    <link rel="stylesheet" href="css/main.css">
   </head>
<body>

<section id="portfolio">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading">Recent Projects</h2>
            <p style="text-align: center;">Note: Some of the articles in my portfolio have authors listed that are not me. This is because I have done extensive ghostwriting, and I can confirm that I was indeed the author of each of these articles.</p>
            <hr class="primary">
        </div>
    </div>
    <div class="portfolio-grid">
        <!-- Portfolio items go here -->       
            <!-- Item 1 -->
            <div class="portfolio-box">
                <a href="https://www.accountingtoday.com/opinion/inside-the-irss-prevailing-wage-and-apprenticeship-guidance" target="_blank">
                    <img src="img/portfolio/article-1.jpg" alt="Inside the IRS's Prevailing Wage and Apprenticeship Guidance">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Published Article</div>
                            <div class="project-name">Inside the IRS's Prevailing Wage and Apprenticeship Guidance</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 2 -->
            <div class="portfolio-box">
                <a href="https://www.plasticstoday.com/legislation-regulations/how-to-get-your-share-of-the-20-billion-federal-r-d-tax-credit" target="_blank">
                    <img src="img/portfolio/article-2.jpg" alt="How to Get Your Share of the $20 Billion Federal R&D Tax Credit">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Published Article</div>
                            <div class="project-name">How to Get Your Share of the $20 Billion Federal R&D Tax Credit</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 3 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/how-to-invest-in-yourself-as-a-minority-business-owner" target="_blank">
                    <img src="img/portfolio/article-3.jpg" alt="How to Invest in Yourself as a Minority Business Owner">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Blog Post</div>
                            <div class="project-name">How to Invest in Yourself as a Minority Business Owner</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 4 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/navigating-the-landmark-2024-tax-reforms-tax-relief-for-american-families-and-workers-act" target="_blank">
                    <img src="img/portfolio/article-13.jpg" alt="Navigating the Landmark 2024 Tax Reforms">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Blog Post</div>
                            <div class="project-name">Navigating the Landmark 2024 Tax Reforms</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 5 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/choosing-the-right-cost-segregation-company-fact-vs-fiction" target="_blank">
                    <img src="img/portfolio/article-5.jpg" alt="Choosing the Right Cost Segregation Company: Fact vs. Fiction">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Blog Post</div>
                            <div class="project-name">Choosing the Right Cost Segregation Company: Fact vs. Fiction</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 6 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/hidden-tax-savings-in-commercial-build-outs" target="_blank">
                    <img src="img/portfolio/article-14.jpg" alt="Hidden Tax Savings in Commercial Build-Outs">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Blog Post</div>
                            <div class="project-name">Hidden Tax Savings in Commercial Build-Outs</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 7 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/amending-vs-form-3115-fixing-tax-errors-the-right-way" target="_blank">
                    <img src="img/portfolio/article-4.jpg" alt="Amending vs. Form 3115: Fixing Tax Errors the Right Way">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Blog Post</div>
                            <div class="project-name">Amending vs. Form 3115: Fixing Tax Errors the Right Way</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 8 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/the-road-to-1-million-how-jill-scaled-the-sales-summit/" target="_blank">
                    <img src="img/portfolio/article-15.jpg" alt="The Road to $1 Million: How Jill Scaled the Sales Summit">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Blog Post</div>
                            <div class="project-name">The Road to $1 Million: How Jill Scaled the Sales Summit</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 9 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/services/179d-epact-energy-policy-act" target="_blank">
                    <img src="img/portfolio/article-6.jpg" alt="179D Epact Tax Deduction">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Webpage</div>
                            <div class="project-name">179D Epact Tax Deduction</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 10 -->
            <div class="portfolio-box">
                <a href="https://engineeredtaxservices.com/services/45l-energy-efficient-tax-credits" target="_blank">
                    <img src="img/portfolio/article-7.jpg" alt="45L Energy Efficient Tax Credits">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Webpage</div>
                            <div class="project-name">45L Energy Efficient Tax Credits</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 11 -->
            <div class="portfolio-box">
                <a href="pdfs/About Solar Installation and Development Infographic Flyer.pdf" target="_blank">
                    <img src="img/portfolio/article-9.jpg" alt="Solar Installation and Development">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Infographic</div>
                            <div class="project-name">Solar Installation and Development</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 12 -->
            <div class="portfolio-box">
                <a href="pdfs/Depreciation-Infographic-2024.pdf" target="_blank">
                    <img src="img/portfolio/article-10.jpg" alt="Understanding Depreciation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Infographic</div>
                            <div class="project-name">Understanding Depreciation</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 13 -->
            <div class="portfolio-box">
                <a href="pdfs/SAS Explainer.pdf" target="_blank">
                    <img src="img/portfolio/article-11.jpg" alt="What Is Reverse Cost Segregation">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Internal-Use Article</div>
                            <div class="project-name">What Is Reverse Cost Segregation</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Item 14 -->
            <div class="portfolio-box">
                <a href="pdfs/Tax Updates Email.pdf" target="_blank">
                    <img src="img/portfolio/article-12.jpg" alt="Tax Updates Email">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">Email Template</div>
                            <div class="project-name">Tax Updates Email</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

</body>
</html>
